---
layout: default
permalink: /tr/
lang: tr
ref: index
---

<section class="Section About">
    <div class="width">

        <h2 class="About_title">
            <strong>Adnan Topal</strong>, hayatını <strong>Antalya</strong>'da sürdüren, ve son zamanlarda <strong>hibrit mobil uygulama</strong>
            teknolojilerine yoğunlaşmış olan bir <strong>Arayüz Geliştirici</strong>dir.
        </h2>

        <p class="About_info">
            İsterseniz <a href="{{ site.url }}/blog/" title="Neler yazarım?">blog yazılarımı</a> okuyabilir, tamamladığım
            <a href="{{ site.url }}/projeler/" class="Neler yaparım?">projeleri</a> görebilir, bana <a href="{{ site.url }}/iletisim/" title="E-Posta">e-posta</a>
            gönderebilir veya <a href="{{ site.url }}/hakkimda/" title="Ben kimim?">hakkımda</a> daha fazla bilgi edinebilirsiniz.
        </p>

        <div class="About_social">
            <div class="About_social_buttons">
                <a href="https://twitter.com/adnantopal">
                    <svg class="icon icon-twitter">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                    <span>Ara Sıra Tweet Atar</span>
                </a>
                <a href="https://github.com/adnantopal">
                    <svg class="icon icon-github">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                    <span>Çoğu Zaman Kod Yazar</span>
                </a>
                <a href="https://instagram.com/adnantopal">
                    <svg class="icon icon-instagram">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                    <span>Kedileri Çok Severim</span>
                </a>
            </div>
        </div>

    </div>
</section>
<!-- /.Section.About -->
<section class="Section Writing">
    <div class="width">
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <ul class="ArchiveList" data-archive-year="{{ currentdate }}">
            {% assign date = currentdate %}
            {% endif %}
            {% include date.html date=post.date %}
            <li class="Archive">
                <a class="Archive-link" href="{{ post.url }}">
                    <time class="Archive_date">{{ day }} {{ month | slice: 0, 3 }}</time>
                    <h3 class="Archive_title">{{ post.title }}</h3>
                </a>
            </li>
            {% if forloop.last %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</section>
<!-- /.Section.Writing -->
