---
layout: default
---

<section class="Section About">
    <div class="width">

        <h2 class="About_title">
            <strong>Adnan Topal</strong> is a <strong>Front-End Developer</strong> who is currently focused on <strong>hybrid mobile development</strong>,
            and based in <strong>Antalya, Turkey</strong>.
        </h2>

        <p class="About_info">
            Feel free to read my <a href="{{ site.url }}/blog/" title="Writing">blog posts</a>, see my <a href="#">projects</a> or send me an
            <a href="mailto:adnan@adnan.co" title="Send me an email">email</a>.
        </p>

        <div class="About_social">
            <div class="About_social_buttons">
                <!--<a target="_blank"
                   href="https://twitter.com/adnantopal"
                   rel="external nofollow"
                   title="Follow @adnantopal"
                   class="twitter-follow-button"
                   data-size="large"
                   data-show-count="false"
                   data-show-screen-name="true">
                    Follow @adnantopal
                </a>-->
                <a href="https://twitter.com/adnantopal">
                    <svg class="icon icon-twitter">
                        <use xlink:href="#icon-twitter"></use>
                    </svg>
                    <span>I Tweet About Stuff</span>
                </a>
                <a href="https://github.com/adnantopal">
                    <svg class="icon icon-github">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                    <span>I Write Code</span>
                </a>
                <a href="https://instagram.com/adnantopal">
                    <svg class="icon icon-instagram">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                    <span>I Love Cats</span>
                </a>
            </div>
        </div>

    </div>
</section>
<!-- /.Section.About -->
<section class="Section Writing">
    <div class="width">
        {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <ul class="ArchiveList" data-archive-year="{{ currentdate }}">
            {% assign date = currentdate %}
            {% endif %}
            <li class="Archive">
                <a class="Archive-link" href="{{ post.url }}">
                    <time class="Archive_date">{{post.date | date: "%b %-d"}}</time>
                    <h3 class="Archive_title">{{ post.title }}</h3>
                </a>
            </li>
            {% if forloop.last %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</section>
<!-- /.Section.Writing -->
