---
layout: default
title: Yazdıklarım
permalink: /yazilar/
lang: tr
ref: blog
---

<section class="Post">

    <div class="PostBody Blog">

        <section class="width">
            <h1 class="page-title">Yazılar</h1>
        </section>
        <!-- /.width -->

        <section class="width">
            <h4>Bir proje üzerinde çalışırken veya yeni bir teknolojiyi kurcalarken edindiğim tecrübeleri paylaşmak ve bilginin aktarılmasını sağlamak amacıyla yazdıklarım.</h4>
        </section>
        <!-- /.width -->

    </div>
    <!-- /.PostBody -->

</section>
<!-- /.Section.Page -->
<section class="Section Writing">
    <div class="width">
        {% assign posts=site.posts | where:"lang", page.lang %}
        {% for post in posts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <ul class="ArchiveList" data-archive-year="{{ currentdate }}">
            {% assign date = currentdate %}
            {% endif %}
            <li class="Archive">
                <a class="Archive-link" href="{{ post.url }}">
                    <time class="Archive_date">{{post.date | date: "%b %-d"}}</time>
                    <h3 class="Archive_title">{{ post.title }}</h3>
                </a>
                {% if post.excerpt %}
                <p>{{ post.excerpt | truncate: 180 }}</p>
                {% endif %}
            </li>
            {% if forloop.last %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</section>
<!-- /.Section.Writing -->