// GLOBAL
$margin-typography-element: 1.5em;
$transition: .2s;
$navigation-items: 4;

// COLOR
$theme-color: #3A6EE8;
$color-smoke: #eee;
$color-shadow: #ccc;
$color-light: #999;
$color-text: #222;
$color-link: #000;

// FONT
$fonts-size: 16px;
$fonts-size--desktop: 18px;
$fonts-size--cinema: 20px;
$font-title-family: 'Montserrat', sans-serif;
$font-sans-family: 'Montserrat', sans-serif;
$font-serif-family: 'Merriweather', sans-serif;
$font-mono-family: 'Source Code Pro', 'Menlo', Consolas, Monaco, 'Ubuntu Mono', monospace;

// SKELETON
$offset-padding: 15px;
$container-width: 700px;
$container-width--half: $container-width / 2;
$container-width-p: $container-width + $offset-padding * 2;
$container-width--outer: 980px;
$container-width--outer-p: $container-width--outer + $offset-padding * 2;
$container-outer-width: ($container-width--outer - $container-width) / 2;
$outer-margin: -(($container-width--outer - $container-width) / 2);
$full-margin: calc(-50vw - -#{$container-width--half});