<header class="SiteHeader" role="banner">

    <div class="SiteLogo">
        <a href="{{ site.baseurl }}/" rel="home">adnan<span>.</span></a>
    </div>

    <nav class="SiteNavigation" role="navigation">
        <a class="NavToggle" href="#">-</a>
        <ul>
            {% for my_page in site.site_pages %}
            {% if my_page.title %}
            <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <div class="SiteLanguage">
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for mypost in posts %}
        {% if mypost.url == page.url %}{% assign active = ' active' %}{% else %}{% assign active = '' %}{% endif %}
        <a href="{{ mypost.url }}" class="lang-{{ mypost.lang }}{{ active }}">{{ mypost.lang }}</a>
        {% endfor %}

        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for mypage in pages %}
        {% if mypage.url == page.url %}{% assign active = ' active' %}{% else %}{% assign active = '' %}{% endif %}
        <a href="{{ mypage.url }}" class="lang-{{ mypage.lang }}{{ active }}">{{ mypage.lang }}</a>
        {% endfor %}
    </div>

</header>