.SiteFooter {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  height: 100px;
  color: #888;
  @include font("sans");
  font-size: 13px;
  text-align: center;
  background: #F5F5F5;

  a {
    color: #333333;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $theme-color;
      text-decoration: none;
    }
  }
}