////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////

.SiteHeader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding: 20px 30px;
  color: #666;
  @include font("sans");
  line-height: 1;
  background: rgba(white, 0.75);
  transition: background 0.3s ease-in-out;

  .NavOpen & {
    @include device {
      background: rgba(white, 0.75);
    }
  }

  @include device {
    background: transparent;
  }
  @include device("phone") {
    padding: 20px 15px;
  }
}

.SiteLogo {
  a {
    color: #212121;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #999999;
      text-decoration: none;
    }

    span {
      color: #999999;
      transition: inherit;
    }
  }
}

.SiteNavigation {
  display: flex;
  display: -webkit-flex;
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  align-items: center;
  -webkit-align-items: center;
  @include device("phone") {
    flex-direction: row;
    -webkit-flex-direction: row;
  }

  > a {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    color: #212121;
    text-decoration: none;
    text-indent: -9999px;
    background-image: linear-gradient(to right, currentColor, currentColor);
    background-size: 101% 4px;
    background-position: 0 10px;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 4px;
      color: inherit;
      background-color: currentColor;
      transition: all 0.3s ease-in-out;
    }
    &:before {
      top: 2px;
    }
    &:after {
      bottom: 2px;
    }

    .NavOpen & {
      background-size: 0 4px;
      transition-delay: 0s;

      &:before,
      &:after {
        transform-origin: 50% 50%;
        transition-delay: 0.2s;
      }

      &:before {
        top: 10px;
        transform: rotate(-45deg);
      }

      &:after {
        bottom: 10px;
        transform: rotate(45deg);
      }
    }
  }

  > ul {
    display: flex;
    display: -webkit-flex;
    margin-right: 20px;
    @include device("phone") {
      position: absolute;
      top: 68px;
      right: 0;
      flex-direction: column;
      -webkit-flex-direction: column;
      margin-right: 0;
      text-align: right;
    }

    li {
      padding: 0 20px;
      visibility: hidden;
      opacity: 0;
      transform: translate3d(30px, 0, 0);
      -webkit-transform: translate3d(40px, 0, 0);
      transition: visibility 0.3s ease-in-out, opacity 0.15s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
      @include device("phone") {
        padding: 6px 20px;
        background: rgba(white, 0.75);
      }

      @for $i from 1 through $navigation-items {
        &:nth-child(#{$i}) {
          transition-delay: #{$i * 0.1}s;
        }
      }

      a {
        color: #353535;
        font-weight: 400;
        font-size: 1.1em;
        letter-spacing: -1px;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $theme-color;
          text-decoration: none;
        }
      }
    }

    .NavOpen & {
      li {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transition: visibility 0.05s ease-in-out, opacity 0.25s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;

        @for $i from $navigation-items*-1 through -1 {
          &:nth-child(#{abs($i)}) {
            transition-delay: #{($i + ($navigation-items + 1)) * 0.1}s;
          }
        }
      }
    }
  }
}

.SiteLanguage {
  position: absolute;
  top: 20px;
  right: 80px;
  display: flex;
  display: -webkit-flex;
  padding: 5px 25px 5px;
  @include font("serif", "normal");
  font-size: 18px;
  border-right: 1px #eeeeee solid;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transition-delay: #{($navigation-items + 1) * 0.1}s;

  .NavOpen & {
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.2s;
    transition-delay: 0s;
    @include device("phone") {
      visibility: visible;
      opacity: 1;
    }
  }

  a {
    position: relative;
    display: block;
    line-height: 1;

    &:not(:first-of-type) {
      margin-left: 20px;

      &:before {
        content: '\2022';
        position: absolute;
        left: -12px;
        top: 2px;
        color: #aaa;
        font-size: 14px;
      }
    }

    &.active {
      color: $theme-color;
    }
  }
}