.Projects {
  margin: 60px 0 100px;
}

.Project {
  p {
    margin: 0 0 15px;
    color: #aaa;
  }
}

.ProjectInfo {
  display: flex;
  display: -webkit-flex;

  .info {
    margin-left: 40px;
  }

  .desc {
    color: #4b4b4b;
    font-size: 18px;
  }

  a {
    display: inline-block;
    margin-top: 15px;
    line-height: 1.4;
    font-weight: 700;
  }
}