.Project {
  h2 {
    @include device() {
      font-size: 32px;
    }
  }

  p {
    margin: 0 0 15px;
    color: #aaa;
  }
}

.ProjectInfo {
  display: flex;
  display: -webkit-flex;
  @include device("phone") {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  img {
    @include device("phone") {
      max-width: 100%;
    }
  }

  .info {
    margin-left: 40px;
    @include device("phone") {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .desc {
    color: #4b4b4b;
    @include device() {
      font-size: 18px;
    }
  }

  a {
    display: inline-block;
    margin-top: 15px;
    line-height: 1.4;
    font-weight: 700;
  }
}