---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$spacing-unit: 30px;

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
// OPTION
@import "option/default";
@import "option/mixin";
//
// HELPER
@import "helper/normalize";
@import "helper/formalize";
@import "helper/global";
@import "helper/syntax-highlighting";
//
// PLUGIN
//@import "plugin/prism";
@import "plugin/zoom";
//
// HEADER
@import "page/header";
//
// FOOTER
@import "page/footer";
//
// MAIN
@import "page/main";
//
// HOME
@import "page/home-about";
@import "page/home-archive";
//
// POST
@import "page/post";
@import "page/post-header";
@import "page/post-footer";
@import "page/post-comment";
//
@import "page/post-typography";
//
@import "page/post-figure";
@import "page/post-figure--image";
@import "page/post-figure--float";
@import "page/post-figure_figcaption";
@import "page/post-figure--important";
@import "page/post-figure--quote";
@import "page/post-figure--marked";
// PROJECTS
@import "page/projects";