<!DOCTYPE html>
<html>
{% include head.html %}
<body data-site-language="en">
{% include header.html %}

<main class="SiteContent" role="main">
  <article class="Post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="PostBody PageBody">

      <section class="width">
        <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
      </section>
      <!-- /.width -->

      <section class="width" itemprop="articleBody">
        {{ content }}
      </section>
      <!-- /.width -->

    </div>
    <!-- /.PostBody -->

  </article>
</main>

{% include footer.html %}
</body>

</html>
