<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}
<body>
{% include header.html %}
{% include date.html date=page.date %}
<main class="SiteContent" role="main">
    <article class="Post" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="PostHeader">
            <section class="width">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% if page.lang == "en" %}{{ month }} {{ day }}, {{year}}{% else %}{{ day }} {{ month }} {{year}}{% endif %}
                </time>
                <span class="reading-time" title="{{ site.data.translations[page.lang].read_time_desc }}">
                    {% assign words = content | number_of_words %}
                    {{ words | divided_by:180 }} {{ site.data.translations[page.lang].read_time }}
                </span>
            </section>
        </header>

        <div class="PostBody">

            <section class="width">
                <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                {% if page.excerpt %}
                <h4>
                    {{ page.excerpt }}
                </h4>
                {% endif %}
            </section>
            <!-- /.width -->

            <section class="width" itemprop="articleBody">
                {{ content }}
            </section>
            <!-- /.width -->

        </div>
        <!-- /.PostBody -->

        <footer class="PostFooter">
            <section class="width">
                {% include post-footer.html tweet_id=page.tweet_id %}
            </section>
        </footer>
        <!-- /.PostFooter -->

        <div class="PostComment">
            <div class="width">
                {% include post-disqus.html %}
            </div>
        </div>
        <!-- /.PostComment -->

    </article>
</main>

{% include footer.html %}
</body>

</html>
